body {
    background-color: #dedede;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: "Sans";
    font-size: 16px;
}

img#logo {
    float: right; 
}

div.topbar {
    background-image: -webkit-linear-gradient(bottom, rgb(163,163,163) 9%, rgb(199,199,199) 55%);
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    border-bottom: 3px solid #000;
}

nav.toolbar {
    display: -webkit-box; 
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-box-align: center;
    overflow: hidden;
    background-color:#040404;
    margin: 0px 0px 0px 0px;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    bottom: -60px;
    left: 0px;
    right: 0px;
    max-height: 60px;
    height: 60px;
    -webkit-transition: bottom 300ms ease-in-out;
}

.ui-animation-slide {
    -webkit-transition: all 300ms ease-in-out;
}

div.ui-page {
    top: 60px;
    position: fixed;
    overflow-y: auto;
    width: inherit; 
    height: inherit;
    padding: 30px;
    padding-bottom: 120px;
    -webkit-box-sizing: border-box;
    left: 12000px;
}

label {
    float: left;
    width: 400px;
    text-align: right;
    margin-right: 10px;
    margin-bottom: 10px;
}

option {
    font-size: 16px;
}

select{
    font-size: 16px;
    height: 30px;
    background-color: #eeeeee;
    color: #000000;
}


#ui-switch-mode-text {
    color: white;
    -webkit-transition: all 0.2s ease-out;
    display: inline;
}

.ui-switch-mode {
    width: 500px;
}

.ui-navigation-buttons {
    -webkit-box-flex: 1;
    display: -webkit-box; 
    -webkit-box-orient: horizontal;
    -webkit-box-pack: end;
    -webkit-box-align: center;
}

.ui-switch-mode-shown {
    margin: 0;
}

.ui-switch-mode-hidden {
    margin: -1000px;
}

#ui-advanced-mode-text {
    color: black;
    font-size: 20px;
    font-weight: bolder;
    text-shadow: #606060 0px 0px 1px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
    -webkit-transition: all 0.2s ease-out;
}

.ui-advanced-mode-text-hidden {
    opacity: 0;
}

.ui-advanced-mode-text-shown {
    opacity: 1.0;
}

#ui-switch-mode-button {
    cursor: pointer;
    margin-right: 10px;
    background-image: url(theme://gnome-settings);
    background-position: center center;

    width: 32px;
    height: 32px;
    background-size: 100%;
    display: inline-block;
    z-index: 100;
}


#ui-switch-mode-button:hover {
    -webkit-box-shadow: 0px 0px 10px #eeeeee;
}

a.ui-button-toolbar-enabled {
    color: black;
    cursor: pointer;
}

a.ui-button-toolbar-disabled {
    color: #aeaeae;
    cursor: default;
}

a.ui-button-toolbar {
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #dedede;
}

a.ui-button-toolbar-enabled:hover {
    background-color: #aeaeae;
}

div.steps {
    margin-top: 10px;
    background-color: #909090; 
    color: #A0A0A0;
    font-size: 25px;
    width: 20px;
    float:left;
    display: block;
    vertical-align: middle;
}

div.steps_long {
    margin-top: 10px;
    vertical-align: middle;
    font-size: 25px;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #909090; 
    color: #e0e0e0;
    float:left;
    max-width: 0px;
    -webkit-transition: max-width 0.2s ease-out;
}

div.device {
    width: 500px;
    background-color: #d0d0d0;
    border-color: #202020;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
}

.ui-partition {
    width: inherit;
    border-radius: 10px;
    padding: 10px;
    background-color: #a0a0a0;
    border-color: #202020;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}

.ui-partition:hover {
    background-color: #eeeeee;
    color: black;
    border-color: #202020;
    border-width: 1px;
    border-style: solid;
}

.ui-partition-selected {
    background-color: #505050;
    color: white;
    border-color: white;
}

.ui-partition-disabled {
    background-color: #a0a0a0;
    color: #f0f0f0;
    border-color: #202020;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
}

.ui-partition-disabled:hover {
    cursor: crosshair;
}

input.fields {
    left: 350px;
    font-size: 16px;
    height: 30px;
    background-color: #eeeeee;
    color: #000000;
    border-radius: 5px;
}

input.invalid {
    -webkit-box-shadow: 0px 0px 15px #ee0000;
}

div.ui-hint {
    color: red; 
    padding-left: 50px;
    display: none;
}

div.ui-hint-warning {
    color: #C35617; 
    padding-left: 50px;
    display: none;
}

a.button {
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    background-color: #353535;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

a.button:hover {
    color: black;
    background-color: #858585;
}

div#base {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    opacity: 1;
    -webkit-transition: opacity 1s ease-out;
    background-image: -webkit-linear-gradient(bottom, rgb(163,163,163) 9%, rgb(199,199,199) 55%);
}

div#error-frame {
    z-index: 10000;
    padding: 80px; 
    background: #030303;
    color: #efefef;
    height: 800px;
    margin-top: 9200px;
    -webkit-transition: margin-top 1s ease-out;
}

textarea.log {
    font-size: 16px;
}

.ui-advanced-options-shown {
    height: auto;
}

.ui-advanced-options-hidden {
    height: 0px;
} 

.ui-advanced-options {
    overflow: hidden;
    -webkit-transition: all 500ms ease-out;
}

.ui-progress-bar-enclosure {
    height: 12px;
    width: 400px;
    background-color: #888;
    border-radius: 5px;
}

#progress-bar {
    width: 5%;
    height: 12px;
    background-color: #aaa;
    border-radius: 5px;
    -webkit-transition: width 1s ease-out;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    -webkit-box-align: end;

}


.ui-spinner {
    height: 5px;
    width: 5px;
    border: 3px solid #aaa;
    border-radius: 10px;

    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;
}

@-webkit-keyframes show_advanced_frames {
    0% { height: 0px; }
    100% { height: 100px; }
}

@-webkit-keyframes spinner {
    0% { border-top: 3px solid black; }
    25% { border-right: 3px solid black; border-top: 3px solid #aaa }
    50% { border-bottom: 3px solid black; }
    75% { border-left: 3px solid black; }
    100% { border-top: 3px solid black; }
}
